@media (max-width: 480px) {
  footer {
    height: 30vh;
  }
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #5195BB;
  border-radius: 5px;
  height: 20vh;
}
footer .containerSocialMedia {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
footer .containerSocialMedia a {
  margin: 0 10px;
  text-decoration: none;
}
footer .containerSocialMedia div {
  width: 30px;
  height: 30px;
  background-size: cover;
}
footer p {
  font-family: "Roboto", sans-serif;
}
footer .socialFb {
  background: url(../../assets/image/facebook.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
footer .socialIg {
  background: url(../../assets/image/instagram.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
footer .socialYt {
  background: url(../../assets/image/youtube.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
footer .socialGh {
  background: url(../../assets/image/github.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
}
footer .socialLn {
  background: url(../../assets/image/linkedin.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
}